.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

[role="main"] {
    padding-top: 48px;
    min-height: 690px;
}

.top-navbar {
    background: #1b5ca5;
}
.sidebar-sticky {
    background: #263238;
    color: white;
}
.sidebar .nav-link {
    font-weight: 0 !important;
    color: #ffffff !important;
}

ul.navbar-nav.px-3.logout-sec {
    border-left: 2px solid antiquewhite;
}
.logout-sec a {
    color: whitesmoke;
}

@media (min-width: 576px) {
    .ml-sm-auto,
    .mx-sm-auto {
        margin-left: auto !important;
    }

    .sidebar-sticky {
        position: relative;
        top: 0;
        height: calc(100vh - 48px);
        padding-top: 0.5rem;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }

    @supports ((position: -webkit-sticky) or (position: sticky)) {
        .sidebar-sticky {
            position: -webkit-sticky;
            position: sticky;
        }
    }

    .sidebar .nav-link {
        /* font-weight: 500; */
        color: #333;
    }

    .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #999;
    }

    .sidebar .nav-link.active {
        color: #007bff;
    }

    .sidebar .nav-link:hover .feather,
    .sidebar .nav-link.active .feather {
        color: inherit;
    }

    .sidebar-heading {
        font-size: 0.75rem;
        text-transform: uppercase;
    }

    /*
   * Content
   */

    [role="main"] {
        padding-top: 48px; /* Space for fixed navbar */
    }
    .pagination {
        float: right;
    }
    /*
   * Navbar
   */

    .navbar-brand {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.25);
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
    }

    .navbar .form-control {
        padding: 0.75rem 1rem;
        border-width: 0;
        border-radius: 0;
    }

    .form-control-dark {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.1);
        border-color: rgba(255, 255, 255, 0.1);
    }

    .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
    }

    .nav-item:hover {
        background: #7ec0df;
    }
    li.nav-item.active {
        background: #7ec0df;
    }

    .footer {
        padding-left: 40%;
        background: aliceblue;
    }
    #menu-humberger-btn {
        color: white;
    }
    .row.radio-section {
        padding: 14px;
    }
    div#sms-template-show {
        display: none;
        /* border: 1px solid whitesmoke; */
        margin-top: 20px;
        /* margin-left: 10px; */
    }
    #sms-template-show div {
        border: 1px solid whitesmoke;
        padding: 10px;
    }
    #sms-template-show p {
        font-size: 14px;
        color: cornflowerblue;
    }
    .justify-content-center {
        justify-content: center !important;
        margin-bottom: 10px;
    }
    .form-group {
        /* margin-top: 0px; */
        margin-bottom: 23px;
    }
    .filter_form {
        margin-bottom: 25px;
    }
    .btn-group,
    .btn-group-vertical {
        margin-left: 5px;
    }
    .select2-container--default
        .select2-selection--single
        .select2-selection__rendered {
        color: #444;
        line-height: 34px;
    }
    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #aaa;
        border-radius: 4px;
        height: 37px;
    }
    button.form-group.btn.btn-primary.mr-3.mb-2.col-1 {
        margin-left: 21px;
    }
}
